// itaú color
$primary-color: #e65400;
$secondary-color: #f2f2f2;
$tertiary-color: #000000;
$quaternary-color: #ffffff;
$forgot-password-color: #1e2777;
$text-color: #555555;
$gray-background: #eeeeee;
$primary-input-color: #f1cfbc;
